/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS
18 MEDIA QUERIES

COLOURS 

*/
html, body {
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 320 and Up _________________________________________________

320 and Up
Andy Clarke http://about.me/malarkey
LESS Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/

Includes:


__________________________________________________________ */
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.serif {
  font-family: "Cambria, Georgia, Times, " Times New Roman;
}
.monospace {
  font-family: "Monaco", Courier New, monospace;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
html {
  overflow-y: scroll;
  background: #ffffff;
  /*background: #99C5F0 url(../img/tmp/grid.png) no-repeat 50% 10%;*/
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  /* 252px; */

  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Cambria, Georgia, Times, " Times New Roman;
  color: #282828;
  background-color: transparent;
}
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
h1 {
  margin-bottom: 0.75em;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2;
  color:#636;
  border-bottom:5px solid #bbb;
}
h2 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}


h4 {
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}
h5 {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
  color:#FFF;
}
h6 {
  font-size: 16px;
  font-size: 1.6rem;
}
p,
ol,


ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}
p {
  hyphens: auto;
  text-align: justify;
}
ul, ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
}
li ul, li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
dl, dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: normal;
}
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 1px solid #bfbfbf;
  font-style: italic;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
ins {
  background-color: #c3d9e6;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #c3d9e6;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: "Monaco", Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 14px;
  font-size: 1.4rem;
}
sub, sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #013568;
  text-decoration:none;
}
a:visited {
  color: #011b35;
}
a:hover {
  color: #011b35;
}
a:focus {
  outline: thin dotted;
  color: #011b35;
}
a:hover, a:active {
  outline: 0;
}
figure {
  margin-bottom: 1.5em;
}
figure img, figure object, figure embed {
  margin-bottom: 0.75em;
  max-width: 100%;
}
figcaption {
  display: block;
  font-weight: normal;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
}
th, td, caption {
  padding: 0.1875em 10px 0.1875em 5px;
}
tfoot {
  font-style: italic;
}
caption {
  background-color: transparent;
}
tbody tr:nth-child(odd) td {
  background-color: #c3d9e6;
}
form {
  margin: 0;
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
legend {
  *margin-left: -7px;
  padding: 0;
  border-width: 0;
}
label {
  font-weight: normal;
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #c3d9e6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
::-webkit-selection {
  background: #e6e6e6;
  color: #fafafa;
  text-shadow: none;
}
::-moz-selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none;
}
::selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}
.ie7 img, .iem7 img {
  -ms-interpolation-mode: bicubic;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
}
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}
.invisible {
  visibility: hidden;
}
/* 17 TEMPLATE SPECIFICS ============================================================================= */


/* Bespoke flexbox ------------------- */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: green;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
/* End Bespoke ------------------- */




/* Navigation */
ul#nav {
position: relative;
float:	left;
margin:	0;
padding:0;
}
		
ul#nav li {
position: relative;
margin:	1px 0px;
padding: 5px 5px 10px 5px;
list-style:	none;
width:250px;
background:#FFF;
border: 0px solid #C4C4C4;	
overflow:hidden;
-webkit-transition: all 0.95s linear;
-moz-transition: all 0.95s linear;
-ms-transition: all 0.95s linear;
}

ul#nav li:hover {
background:#dcebeb	;
z-index:1000;
}

ul#nav li:hover {
background:#F00;
-webkit-transform: translateY(-3px) scale(1.05);
-webkit-box-shadow: 0px 2px 7px #999;
-moz-transform: translate(-3px) scale(1.05);
-moz-box-shadow: 0px 2px 7px #999;
-ms-transform: translate(-3px) scale(1.05);
-ms-box-shadow: 0px 2px 7px #999;
box-shadow: 0px 2px 7px #999;
z-index:1000;
}

/* code for Web Symbols */
ul#nav .icon {
				font-family: 'WebSymbolsRegular',cursive;
				font-size:	 1.5em;
				position:	absolute;
				left:		40px;
				top:		5px;
				text-shadow: 0px 2px 1px #999;
				-webkit-transition: all 0.95s linear;
				-moz-transition: all 0.95s linear;
				-ms-transition: all 0.95s linear;
			}
			
ul#nav .icon_releases {
				font-family: 'WebSymbolsRegular',cursive;
				font-size:	 1.5em;
				position:	absolute;
				left:		55px;
				top:		5px;
				text-shadow: 0px 2px 1px #999;
				-webkit-transition: all 0.95s linear;
				-moz-transition: all 0.95s linear;
				-ms-transition: all 0.95s linear;
			}

  ul#nav .icon_releases2 {
        font-family: 'WebSymbolsRegular',cursive;
        font-size:   1.5em;
        position: absolute;
        left:   70%;
        top:    5%;
        text-shadow: 0px 2px 1px #999;
        -webkit-transition: all 0.95s linear;
        -moz-transition: all 0.95s linear;
        -ms-transition: all 0.95s linear;
      }
			
/* animates the icon */
ul#nav li:hover .icon .icon_releases {
			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-ms-transform: scale(1.3);
		}
/* End of Navigation */

/* Typography *?
/* Web Symbols */

@font-face{ 
			font-family: 'WebSymbolsRegular';
			src: url('../fonts/websymbols-regular-webfont.eot');
			src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     		url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     		url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     		url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}
	
